### Importing necessary libraries 
    - Importing Excel File

In [1]:
import pandas as pd
import numpy as np
import openpyxl as ox

variable = 'ADG Acquisition, LLC'

inputFile = f'./Assets/{variable}.xlsx'
outputFile = './newFile.xlsx'


def functionToLoadWorkbook(inputOutputFile) :
    workbook = ox.load_workbook(filename=inputOutputFile, data_only=True)
    sheet1 = workbook.active
    return sheet1

#### Creating a function to convert the data into a list

In [2]:
inputSheet = functionToLoadWorkbook(inputFile)
print(inputSheet)
companyName = inputSheet.cell(row=4, column=3).value
print(companyName)
def functionToReadInputRow(sheet):
    data = []
    for row in sheet.iter_rows(min_row=6, max_row=6,min_col=5): 
        for cell in row:
            if cell.value != None:
                data.append(cell.value)
    return list(data)
       
dfInput = functionToReadInputRow(inputSheet)

<Worksheet "Artisan Design Group">
ADG Acquisition, LLC

### Function to read the output excel sheet

In [3]:
outputsheet = functionToLoadWorkbook(outputFile)

def functionToReadOutputRow(outputsheet):
    data = []
    for row in outputsheet.iter_rows(values_only=True):
      data.append(list(row))
    df = pd.DataFrame(data[1:], columns=data[0]).reset_index(drop=True)
    return df

dfOutput = functionToReadOutputRow(outputsheet)

In [4]:
dfInput

[2019,
 2020,
 2021,
 '1Q21',
 '2Q21',
 '3Q21',
 '4Q21',
 '1Q22',
 '2Q22',
 '3Q22',
 '4Q22',
 '1Q23',
 '2Q23',
 '3Q23',
 '4Q23',
 '1Q24']

#### Function to compare the data for tracker

### Function to create the Column and list where the tracker will be checked

In [5]:
#Creating a list for comparison

compList = ['1Q21','2Q21','3Q21','4Q21','1Q22','2Q22','3Q22','4Q22','1Q23','2Q23','3Q23','4Q23','1Q24','2Q24','3Q24','4Q24','1Q25','2Q25','3Q25','4Q25']

#### To compare values with tracker values

In [6]:
i = 0
finalData = [companyName]
boolData = False
while i < len(compList):
    j = 0
    while j < len(dfInput):
        if(dfInput[j] == compList[i]):
            boolData = True
            break
        j+=1
    if boolData == True:
        finalData.append('Yes')
    else:
        finalData.append('No')
    boolData = False
    i+=1
print(finalData)
print(len(finalData))

['ADG Acquisition, LLC', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No']
21

#### Code to update the Tracker

In [7]:
df = pd.DataFrame([finalData], columns=["Company Name",'1Q21','2Q21','3Q21','4Q21','1Q22','2Q22','3Q22','4Q22','1Q23','2Q23','3Q23','4Q23','1Q24','2Q24','3Q24','4Q24','1Q25','2Q25','3Q25','4Q25']).reset_index(drop=True)
df

,Company Name,1Q21,2Q21,3Q21,4Q21,1Q22,2Q22,3Q22,4Q22,1Q23,...,3Q23,4Q23,1Q24,2Q24,3Q24,4Q24,1Q25,2Q25,3Q25,4Q25
0,"ADG Acquisition, LLC",Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,No,No,No,No,No,No,No

In [8]:
dfOutput

Empty DataFrame
Columns: [Company Name, 1Q21, 2Q21, 3Q21, 4Q21, 1Q22, 2Q22, 3Q22, 4Q22, 1Q23, 2Q23, 3Q23, 4Q23, 1Q24, 2Q24, 3Q24, 4Q24, 1Q25, 2Q25, 3Q25, 4Q25]
Index: []

[0 rows x 21 columns]

In [9]:
dfOutput = pd.concat([dfOutput,df])
dfOutput

,Company Name,1Q21,2Q21,3Q21,4Q21,1Q22,2Q22,3Q22,4Q22,1Q23,...,3Q23,4Q23,1Q24,2Q24,3Q24,4Q24,1Q25,2Q25,3Q25,4Q25
0,"ADG Acquisition, LLC",Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,No,No,No,No,No,No,No

In [10]:
dfOutput.to_excel('newFile.xlsx', index=False, engine='openpyxl')